<div class="contact-container">
    <div class="content">
      <h1>Take your business or ideas to the next level</h1>
      <p>Have a project in mind? We'd love to hear from you.</p>
      
      <div class="button-container">
        <a href="#contact" class="contact-button">
          Get in touch 
          <span class="arrow">→</span>
        </a>
      </div>
    </div>
    
    <footer>
      <div class="copyright">
        © 2025 - Phane Innovation Ltd (16018147). All Rights Reserved
      </div>
      
      <div class="social-icons">
        <a href="assets/icons/Social-icons.svg"><i class="linkedin-icon"></i></a>
        <a href="assets/icons/Social-icons1.svg"><i class="twitter-icon"></i></a>
        <a href="assets/icons/Social-icons2.svg"><i class="facebook-icon"></i></a>
        <a href="assets/icons/Social-icons3.svg"><i class="instagram-icon"></i></a>
      </div>
    </footer>
  </div>
