<div class="container">
    <header>
      <div class="logo">
        <img src="assets/icons/Layer.svg" alt="Phane Logo">
      </div>
      <nav class="default-nav">
        <div class="nav-item dropdown">
          <span>Our products</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
        </div>
        <div class="nav-item">Services</div>
        <div class="nav-item">About us</div>
        <div class="nav-item">Careers</div>
      </nav>
      <button class="contact-btn">Contact us</button>
      <nav class="nav-bar">
        <img src="assets/icons/Menu_Button.svg" alt="">
      </nav>
    </header>



  
    <main class="hero-section">
      <section class="hero">
        <div class="hero-content">
        </div>
        <div class="words">
            <h1>Building Innovative Solution</h1>
            <p>Phane is empowering businesses with cutting-edge technology and innovation. We help you build, <br> manage, and scale impactful digital solutions tailored to your unique needs.</p>
            <button class="get-started-btn">
              Get Started
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14M12 5l7 7-7 7"/></svg>
            </button>
        </div>
      </section>
      <div >
        <img class="hero-image" src="assets/image/animee.png" alt="Digital innovation illustration">
      </div>
  
      <section class="clients">
        <p class="trusted-text">Trusted by 50+ startups and businesses</p>
        <div class="client-logos">
          <div class="client-logo"><img src="assets/image/Logo2.png" alt="Gonext"></div>
          <div class="client-logo"><img src="assets/image/Logo3.png" alt="Uilmone"></div>
          <div class="client-logo"><img src="assets/image/Logo4.png" alt="Sonic"></div>
          <div class="client-logo"><img src="assets/image/Logo5.png" alt="Dwtstore"></div>
          <div class="client-logo"><img src="assets/image/fade.png" alt="Cem"></div>
          <div class="client-logo"><img src="assets/image/Logo5.png" alt="Dwtstore"></div>
          <div class="client-logo"><img src="assets/image/Logo3.png" alt="Uilmone"></div>


        </div>
      </section>


    </main>
  </div>
