<div class="solutions-container">
    <h2>Our solutions</h2>
    <h3>What we do</h3>

    <div class="maindiv">
        <div>
            <div class="strategy">
                <img src="assets/icons/Icon-Filled.svg" alt="">
                <h2>Strategy</h2>
                <p>Our strategy team works with you to plan and define the user and business’s needs, requirements, and goals.
            </p>
            </div>
        </div>
        <div class="strategy">
            <img src="assets/icons/Icon-Filled2.svg" alt="">
            <h2>Product Design </h2>
            <p>Our product design team prioritise user-centric design, ensuring your product exceeds expectations in functionality, aesthetics, and user experience.</p>
        </div>
    </div>
    <!-- <br>
    <br> -->
    <div class="design">
        <div class="relative">
            <img class="" src="assets/icons/Icon-Container.svg" alt="">
            <img class="img" src="assets/icons/Pipe.svg" alt="">
        </div>

        <div class="relative">
            <img class="img1" src="assets/icons/Pipe2.svg" alt="">
        </div>

        <div class="relative">
            <img class="img2" src="assets/icons/Pipe3.svg" alt="">
        </div>

        <div class="relative">
            <img class="img3" src="assets/icons/Pipe4.svg" alt="">
        </div>
        <!-- <img class="img1" src="assets/icons/Pipe2.svg" alt=""> -->
    </div>

    <div class="maindiv">
        <div class="strategy">
            <img src="assets/icons/Icon-Filled3.svg" alt="">
            <h2>Technology</h2>
            <p>Our full-stack engineering team is hugely experienced in delivering and supporting scalable solutions tailored to your needs.</p>

        </div>
        <div class="strategy">
            <img src="assets\icons\Icon-Filled4.svg" alt=""> 
            <h2>End to End services</h2>
            <p>Our diverse team provides end-to-end service for your business needs. From strategy, design, management, development to market-ready product.</p>
        </div>
    </div>
  
</div>
  
